#about{
    padding: 80px;
    color:#4f4a4a ;
}
#row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.col-1{
    flex-basis: 35%;
}
.col-1 img{
    width: 100%;
    border-radius: 15px;
}
.col-2{
    flex-basis: 60%;
}
.subtit{
    font-size: 6-px;
    font-weight: 800;
}
#abtme{
    
    font-weight: 600;
}
.tabtit{
    display: flex;
    margin: 20px 0 40px;
}
.tblink{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tblink::after{
    content: '';
    width: 0;
    height: 3px;
    background: blue;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.tblink.skill::after{
    width: 50%;
}
.contents ul li{
    list-style: none;
    margin: 10px 0;
}
.contents ul li span{
    font-weight: 600;
    color: blue;
    font-size: 18px;
}
.contents{
    display: none;
}
.contents.skills1{
    display: block;
}
